.Container{
    background-color:#e6edfe;
    margin-top: 120px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    height: 500px;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    border-bottom: 2px black solid;
}
.loginToggle, .signUpToggle{
    cursor: pointer;
}
.toggleActive{
    color: grey;
    display: flex;
    cursor: default;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}
.Button{
    height: 50px;
    width: 150px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    cursor: pointer;
}
.loginDetails{
    /* height: 300px; */
    margin-left: 125px;
}
.row{
    display: flex;
    flex-direction: row;
}
.detailText{
    margin-top: 20px;
    font-size: 20px;
}
.inputBox{
    padding: 10px;
    width: 400px;
}
.Construction{
    margin-top: 120px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    background-image: url(../Assets/underConstruction.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}